- id: '1736227000202'
  alias: Sunset Bedroom Start Cozy Vibes
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  conditions: []
  actions:
  - action: scene.turn_on
    metadata: {}
    target:
      entity_id: scene.bedroom_cozy_vibes
  mode: single
- id: '1737177093624'
  alias: Midnight Turn Off Living Room
  description: ''
  triggers:
  - trigger: time
    at: 00:00:00
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      area_id:
      - office
      - living_room
  mode: single
- id: '1737347379376'
  alias: YT Mute Ads GC w GTV
  description: Using media player attributes, you can automate the muting of intrusive
    advertisements
  triggers:
  - entity_id: media_player.bedroom_tv
    attribute: media_duration
    below: 153
    for:
      hours: 0
      minutes: 0
      seconds: 0
    above: 1
    id: Duration
    enabled: true
    trigger: numeric_state
  - entity_id: media_player.bedroom_tv
    attribute: supported_features
    above: 152448
    below: 152450
    id: Features
    trigger: numeric_state
  conditions:
  - condition: not
    conditions:
    - condition: state
      entity_id: media_player.bedroom_tv
      attribute: media_title
      state: ''
    enabled: true
  - condition: or
    conditions:
    - condition: state
      entity_id: media_player.bedroom_tv
      attribute: app_name
      state: YouTube
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: Duration
      sequence:
      - wait_for_trigger:
        - entity_id: media_player.bedroom_tv
          attribute: media_duration
          above: 153
          trigger: numeric_state
    - conditions:
      - condition: trigger
        id: Features
      sequence:
      - wait_for_trigger:
        - entity_id: media_player.bedroom_tv
          attribute: supported_features
          above: 152450
          below: 152452
          trigger: numeric_state
  mode: single
- id: '1737348581904'
  alias: Midnight Bedroom Lights Dim
  description: ''
  triggers:
  - trigger: time
    at: 00:00:00
  conditions: []
  actions:
  - action: script.dim_bedroom_lights_off
    metadata: {}
    data: {}
  mode: single
- id: '1738039103631'
  alias: Night Ben Routine
  description: ''
  triggers:
  - trigger: time
    at: '20:00:00'
  conditions: []
  actions:
  - action: scene.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: scene.ben_sleep
  mode: single
- id: '1738039523999'
  alias: Sunrise Turn Off Ben Light
  description: ''
  triggers:
  - trigger: sun
    event: sunrise
    offset: 0
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data:
      transition: 60
    target:
      entity_id: light.kitchen_counter_lamp
  mode: single
- id: '1752035547659'
  alias: Sunset Turn Will Lights
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  conditions:
  - condition: device
    type: is_off
    device_id: a51048f5f35e98e54a7c63ec1f4bc566
    entity_id: dcf67b0b83179b32a307b412d14107a8
    domain: light
    metadata:
      secondary: false
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: 5e2502f0efe85e36459ed3b796d92906
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: a51048f5f35e98e54a7c63ec1f4bc566
  mode: single
- id: '1760495959177'
  alias: Living Room Sunset
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  conditions: []
  actions:
  - action: scene.turn_on
    metadata: {}
    target:
      entity_id: scene.living_room_on_scene
  mode: single
- id: '1760496001983'
  alias: Living Room Sunrise
  description: ''
  triggers:
  - trigger: sun
    event: sunrise
    offset: 0
  conditions: []
  actions:
  - action: scene.turn_on
    metadata: {}
    target:
      entity_id: scene.living_room_scene
  mode: single
